<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer</title>
    <th:block th:replace="~{/layout::top-bootstrap}"></th:block>
</head>
<body>
<center><h1 class="light"><a href="/customer/list">Customer List</a></h1></center>
<h2 th:text="${message}" class="text-success"></h2>
<a class="btn btn-primary justify-content-right" href="/customer/create"><i class="fas fa-user-plus"></i> Create new product</a>
<a class="btn btn-success justify-content-left" href="/customer/facility"><i class="fas fa-calendar-week"></i> IN-HOUSE GUESTS</a>
<hr>
<form action="/customer/list" method="get">

    <div class="input-group">
        <div class="form-outline">
            <input type="search" id="form1" class="form-control" name="name"/>
            <label class="form-label" for="form1">Search by name</label>
        </div>
        <div class="form-outline">
            <input type="search" id="form2" class="form-control" name="address"/>
            <label class="form-label" for="form2">Search by address</label>
        </div>
        <div class="form-outline">
            <select class="form-select" aria-label="Disabled select example" name="type">
                <option value="%" th:text="---Select---"></option>
                <option th:each="typeC : ${types}" th:value="${typeC.customerTypeId}"
                        th:text="${typeC.customerTypeName}"></option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">
            <i class="fas fa-search"></i>
        </button>
    </div>
</form>
<table class="table">
    <thead class="table-dark">
    <tr>
        <td>STT</td>
        <td>ID</td>
        <td>
            <a th:href="@{/customer/list(page=${customers.number},name=${name},address=${address},type=${type},sort='customer_name,desc')}"
               class="fas fa-sort-amount-down"></a>Name<a
                th:href="@{/customer/list(page=${customers.number},name=${name},address=${address},type=${type},sort='customer_name,asc')}"
                class="fas fa-sort-amount-up"></a></td>
        <td>Birth</td>
        <td>Gender</td>
        <td>Id Card</td>
        <td>Phone</td>
        <td>Email</td>
        <td>Address</td>
        <td>Customer Type</td>
        <td>Edit</td>
        <td>Delete</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customer,loop : ${customers}">
        <td th:text="${loop.count+(customers.number*2)}"></td>
        <td th:text="${customer.customerId}"></td>
        <td th:text="${customer.customerName}"></td>
        <td th:text="${customer.customerBirth}"></td>
        <td th:if="${customer.customerGender eq 0}" th:text="Nữ"></td>
        <td th:if="${customer.customerGender eq 1}" th:text="Nam"></td>
        <td th:text="${customer.customerIdCard}"></td>
        <td th:text="${customer.customerPhone}"></td>
        <td th:text="${customer.customerEmail}"></td>
        <td th:text="${customer.customerAddress}"></td>
        <td th:text="${customer.customerType.customerTypeName}"></td>
        <td>
            <a class="btn btn-warning" th:href="@{/customer/edit(id=${customer.customerId})}"
               style="color: white">Edit</a>
        </td>
        <td>
            <button th:attr="onclick=|deleteModal('${customer.customerId}', '${customer.customerName}')|" type="button"
                    class="btn btn-danger"
                    data-mdb-toggle="modal" data-mdb-target="#exampleModal">
                Delete
            </button>
        </td>
    </tr>
    </tbody>
</table>


<nav aria-label="Page navigation example">
    <ul class="pagination pagination-circle pg-blue">
        <li class="page-item "><a class="page-link" aria-label="Previous" th:if="${customers.hasPrevious()}"
                                  th:href="@{/customer/list(page=0,name=${name},address=${address},type=${type},sort=${sort})}">First</a>
        </li>
        <li class="page-item">
            <a class="page-link" aria-label="Previous" th:if="${customers.hasPrevious()}"
               th:href="@{/customer/list(page=${customers.number - 1},name=${name},address=${address},type=${type},sort=${sort})}">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        <li class="page-item active">
            <a class="page-link " aria-label="Previous"
               th:if="${customers.hasNext()}"
               th:href="@{/customer/list(page=${customers.number},name=${name},address=${address},type=${type},sort=${sort})}"
               th:text="${customers.number+1}">

            </a>
        </li>
        <li class="page-item">
            <a class="page-link" aria-label="Previous"
               th:if="${customers.hasNext()}"
               th:href="@{/customer/list(page=${customers.number + 1},name=${name},address=${address},type=${type},sort=${sort})}"
               th:text="${customers.number+2}">

            </a>
        </li>

        <li class="page-item">
            <a class="page-link" aria-label="Previous" th:if="${customers.hasNext()}"
               th:href="@{/customer/list(page=${customers.number + 1},name=${name},address=${address},type=${type},sort=${sort})}">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
        <li class="page-item "><a class="page-link" aria-label="Previous" th:if="${customers.hasNext()}"
                                  th:href="@{/customer/list(page=${customers.totalPages - 1},name=${name},address=${address},type=${type},sort=${sort})}">Last</a>
        </li>
    </ul>
</nav>

<!-- Modal -->
<form th:action="@{/customer/delete}">
    <div class="modal top fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
         data-mdb-backdrop="true" data-mdb-keyboard="true">
        <div class="modal-dialog  ">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete Song</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Bạn có muốn xóa blog này không<br>
                    <span>Tên: <p id="name"></p></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
                        Close
                    </button>
                    <input type="hidden" name="id" id="id-del">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>
</form>
<th:block th:replace="~{/layout :: bot-bootstrap}"></th:block>
<script>
    function deleteModal(id, name) {
        document.getElementById("id-del").value = id;
        document.getElementById("name").innerText = name;
    }
</script>
</body>
</html>